.elemento {
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    flex: 5vw 0 0;
    color: black;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 1px;
    text-decoration: none;
    background-color: aqua;
    
}
 .linha {
    display: flex;
    text-align: center;
    height: 6vmin;
    justify-content: space-around;        
 }