body {
    background-color: #515151;
}

#nav-wrapper {
    position: absolute;
}

#screen {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: aqua; */
    color: aquamarine;
    width: 95%;
    height: 500px;
}

#elements {
    display: inline-block;
    margin: 10px;
}

#cc img {
    max-width: 50px;
    max-height: 50px;
}

#scroll-ligacoes {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

.list-ligacoes {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    flex: 0 0 auto;
}

#scroll-ligacoes .list-ligacoes img {
    max-width: 200px;
}

#canvas-screen {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}